body {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

#container {
  display: inline-grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 30px);
  border: 2px solid black;
}

.grid {
  padding: 15px;
}
